In [1]:
%run load-data.py

In [2]:
resources

                  name_en          name_fr color_en color_fr
color_en
brown            houshold         ménagers    brown   marron
yellow    paper/cardboard  papiers/cartons   yellow    jaune
blue            packaging       emballages     blue     bleu
white               glass            verre    white    blanc
green           vegetable         végétaux    green     vert
mauve            chemical        chimiques    mauve    mauve
red             hospitals         hopitaux      red    rouge
black             nuclear       nucléaires    black     noir

In [3]:
contracts

,base_price,duration,count,shipping
kind,,,,
mix,5,10,4,"{'brown': 1, 'yellow': 1, 'blue': 1, 'white': ..."
mix,10,10,4,"{'yellow': 1, 'blue': 1, 'white': 1, 'green': ..."
sorted,5,10,4,{'brown': 5}
sorted,10,5,2,{'yellow': 5}
sorted,15,5,2,{'blue': 5}
sorted,0,10,2,{'white': 5}
sorted,10,5,2,{'green': 5}
sorted,20,10,2,{'mauve': 3}
sorted,50,10,2,{'black': 1}

In [4]:
facilities

,price,operating_cost,lifetime,count,capacity,nature
type,,,,,,
storage,20,5,-,2,10,"[brown, yellow, blue, white, green]"
storage,10,4,-,2,20,[brown]
storage,10,3,-,2,10,[yellow]
storage,10,2,-,2,10,[blue]
storage,10,4,-,2,10,[white]
storage,10,2,-,2,10,[green]
storage,10,2,-,2,5,[mauve]
storage,50,10,-,2,5,[black]
decontamination,20,2,?,3,2,[mauve]
incineration,10,2,?,3,2,"[brown, yellow, blue, green]"
incineration,30,1,?,3,5,[brown]
recycling,10,1,?,3,3,[yellow]
recycling,30,2,?,3,6,[blue]
recycling,20,2,?,3,3,[white]
recycling,10,0,?,3,2,[green]

In [5]:
trade

           yellow  blue  white  green
[0, 5]          5     8      7      3
[6, 10]         4     6      6      2
[11, 15]        3     4      5      2
[16, 999]       2     2      4      1